body {
    margin: 0;
    font-family: Arial;

    background:
        radial-gradient(circle at center,
        #2d0066 0%,
        #0b0014 45%,
        #000000 100%);

    color: white;

    overflow-x: hidden;
}

/* MOUSE GLOW */

#cursorGlow {
    position: fixed;

    width: 350px;
    height: 350px;

    background:
        radial-gradient(circle,
        rgba(140,0,255,0.35) 0%,
        rgba(140,0,255,0.1) 40%,
        transparent 70%);

    border-radius: 50%;

    pointer-events: none;

    transform: translate(-50%, -50%);

    z-index: 0;

    mix-blend-mode: screen;
}

/* TOP BAR */

.topbar {
    position: relative;
    z-index: 2;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 18px 30px;

    background: rgba(10,10,10,0.55);

    backdrop-filter: blur(15px);

    border-bottom:
        1px solid rgba(255,255,255,0.06);
}

.logo {
    font-size: 32px;
    font-weight: bold;

    color: #c084ff;

    text-shadow:
        0 0 12px rgba(192,132,255,0.5);
}

.nav button {
    background:
        linear-gradient(135deg,#7b2cff,#b76cff);

    border: none;

    color: white;

    padding: 11px 20px;

    border-radius: 14px;

    cursor: pointer;

    font-size: 15px;

    transition: 0.2s;
}

.nav button:hover {
    transform: scale(1.05);
}

/* MAIN */

.main {
    position: relative;
    z-index: 2;

    padding: 30px;
}

h1 {
    margin-bottom: 20px;

    color: #e2c7ff;
}

/* SEARCH */

#search {
    width: 100%;

    padding: 16px;

    border: none;

    border-radius: 15px;

    margin-bottom: 25px;

    font-size: 16px;

    background: rgba(255,255,255,0.08);

    color: white;

    outline: none;
}

/* GAME CARDS */

.card {
    display: flex;

    background:
        rgba(255,255,255,0.05);

    border:
        1px solid rgba(255,255,255,0.08);

    border-radius: 20px;

    overflow: hidden;

    margin-bottom: 20px;

    backdrop-filter: blur(14px);

    transition: 0.25s;

    box-shadow:
        0 0 30px rgba(140,0,255,0.12);
}

.card:hover {
    transform: translateY(-3px);

    box-shadow:
        0 0 40px rgba(180,80,255,0.3);
}

.card img {
    width: 240px;
    height: 140px;

    object-fit: cover;
}

.info {
    padding: 18px;
}

.info h2 {
    margin-top: 0;

    color: #f0d7ff;
}

.info p {
    color: #d5c4e9;
}

/* JOIN BUTTON */

.join {
    margin-top: 12px;

    background:
        linear-gradient(135deg,#8f4dff,#b97dff);

    border: none;

    color: white;

    padding: 12px 20px;

    border-radius: 14px;

    cursor: pointer;

    font-size: 15px;

    transition: 0.2s;
}

.join:hover {
    transform: scale(1.05);

    box-shadow:
        0 0 18px rgba(180,80,255,0.45);
}
